body{
   
     width: 1000px;
     margin: 0px auto;
}
#menu_top{
     background: #141414;
     height: 40px;

}
#banner{
     
     height: auto;
     width: 1000px;
}

#main #left {
     width: 500px;
     float: left;
     min-height: 650px;
     
}
#main #right {
     width: 500px;
     min-height: 650px;
     float: left;
     
}
#footer{
     background: #000;
     width: 1000px;
     text-align: center;
     height: 60px;
     color: #FFF;
     clear: left;
     line-height: 60px;

 
 }
section .container{
     position: relative;
     min-width: 1000px;
     min-height: 550px;
     display:flex;
     z-index: 100;
 }
 section .container .containerinfo{
     position: absolute;
     top: 40px;
     width: 350px;
     height: calc(100% - 80px);
     background: #0f3959;
     z-index: 1;
     padding: 40px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     box-shadow: 0 20px 20px rgba(0,0,0,0.2);
 }
section .container .containerinfo h2{
     color: #fff;
     font-size: 24px;
     margin: 20px 0;
 }
 section .container .containerinfo li{
     position: relative;
     list-style: none;
     display: flex;
     margin: 20px 0;
     cursor: pointer;
     align-items: flex-start;
 }
section .container .containerinfo li span{
     color: #fff;
     margin-left: 10px;
     font-weight: 300;
     opacity: 0.5;
     font-size: 20px;
 }
 /*Hiệu Ứng Hover Cho Thẻ Li*/
 section .container .containerinfo li:hover span{
     opacity: 1;
 }
 section .container .containerinfo .sci{
     position: relative;
     display:flex;
 }
section .container .containerinfo .sci li{
     list-style: none;
     margin-right: 15px;
 }
section .container .containerinfo .sci li a{
     text-decoration: none;
     opacity: 0.5;
     color: #fff;
     font-size: 32px;
 }
 /*Hiệu Ứng Hover Icon*/
 section .container .containerinfo .sci li:hover a{
     opacity: 1;
 }
 section .containerForm{
     position: absolute;
     padding: 70px 50px;
     background: #fff;
     margin-left: 150px;
     padding-left: 250px;
     width: calc(100% - 150px);
     height: 100%;
     box-shadow: 0 50px 50px rgba(0,0,0,0.5);
 }
#map{
    
     padding-top: 50px;
     margin-right: 20px;
}
