body{
	font-family: tahoma;
	font-size: 18px;
	width: 1000px;
	margin: 0px auto;
}
#menu_top{
	background: #141414;
	height: 40px;


}
#banner{
	
	height: auto;
	width: 1000px;

}
#main #left {
	width: 1000px;
	float: left;
	min-height: 400px;

}

#footer{
	background: #000;
	width: 1000px;
	text-align: center;
	height: 60px;
	color: #FFF;
	clear: left;
	line-height: 60px;
}
#menu_top ul {
	margin: 0px;
	padding: 0px; 

}
#menu_top > ul > li{
	list-style: none;
	float: left;
	
}

#menu_top > ul > li > a {
	text-decoration: none;
	display: block;
	height: 40px;
	line-height: 40px;
	color: #FFF;
	padding:0px 40px 0px 40px;
	border-right: 1px solid #ccc; 
}
#menu_top > ul > li > a:hover {
	background: orange;
	color: red;
}
#menu_top ul li a.active{
	background: blue;
}
ul.submenu{
	width: 250px;
	background: #000;
	min-height: 95px;
	display: none;
}

ul.submenu li{
	list-style: none;
}
ul.submenu li a{
	color: #fff;
	text-decoration: none;
	display: block;
	border-top: 1px solid #ccc;
	line-height: 40px;
	text-indent: 10px;
}
ul.submenu li a:hover{
	background: orange;
	color: red;
}
#menu_top > ul > li:hover ul.submenu{
	display: block;

}
#main ul{
	margin: 0px;
	padding: 0px;
}

#main ul li{
	list-style: none;
	clear: left;
	border-bottom: 1px solid #ccc;
	float: left;
	margin-bottom: 20px;


}
#main ul li img{
	float:left;
	margin-right: 10px; 
	margin-bottom: 10px;
}

#main ul li h2{
	font-size: 20px;
}
#main{
	margin-top: 10px;
}

#main ul li a{
	clear: left;
}





