body{
	
	font-size: 18px;
	width: 850px;
	margin: 0px auto;
	

}
#menu_top ul {
	margin: 0px;
	padding: 0px; 

}
#menu_top ul li a.active{
	background: blue;
}
#menu_top{
	background: #141414;
	height: 40px;
}
#menu_top > ul > li{
	list-style: none;
	float: left;
	
}
#menu_top > ul > li > a {
	text-decoration: none;
	display: block;
	height: 40px;
	line-height: 40px;
	color: #FFF;
	padding:0px 20px 0px 20px;
	border-right: 1px solid #ccc; 
}
#menu_top > ul > li > a:hover {
	background: orange;
	color: red;
}	
#footer{
	background: #000;
	width: 850px;
	text-align: center;
	height: 60px;
	color: #FFF;
	clear: left;
	line-height: 60px;
}
ul.submenu{
	width: 250px;
	background: #000;
	min-height: 95px;
	display: none;
}

ul.submenu li{
	list-style: none;
}
ul.submenu li a{
	color: #fff;
	text-decoration: none;
	display: block;
	border-top: 1px solid #ccc;
	line-height: 40px;
	text-indent: 10px;
}
ul.submenu li a:hover{
	background: orange;
	color: red;
}
#menu_top > ul > li:hover ul.submenu{
	display: block;

}