body{
	
	font-size: 18px;
	width: 850px;
	margin: 0px auto;
	
}
#footer{
	background: #000;
	width: 850px;
	text-align: center;
	height: 60px;
	color: #FFF;
	clear: left;
	line-height: 60px;
}
#menu_top{
	background: #141414;
	height: 40px;
}
#menu_top  ul {
	margin: 0px;
	padding: 0px; 

}
#menu_top > ul > li{
	list-style: none;
	float: left;
	
}

#menu_top > ul > li > a {
	text-decoration: none;
	display: block;
	height: 40px;
	line-height: 40px;
	color: #FFF;
	padding:0px 20px 0px 20px;
	border-right: 1px solid #ccc; 
}
#menu_top > ul > li > a:hover {
	background: orange;
	color: red;
}
#menu_top ul li a.active{
	background: blue;
}

#menu_top ul li ul{
	display: none;
}
#menu_top ul li.hover ul{display: block;

}
#theme ul{
	list-style: none;
	clear: left;
	border-bottom: 2px solid #ccc;
	text-decoration: none;
}
#theme h3{
	font-size: 25px;
	text-decoration: none;

}

#theme img{
	max-width: 800px;
}
#main p{
	list-style: none;
	text-align: center;

	
}
#main h4{
	font-size: 25px;
}
#main a{
	color: #ff0000;
	font-size:20px;
	margin-top: 0 0 34px;
	font-weight: bold;
	text-decoration: none;
}
#main img{
	max-width: 800px;
	padding-top: 20px;
}
#main1 h4{
	font-size: 25px;
}
#main1 a{
	color: #ff0000;
	font-size:20px;
	margin-top: 0 0 34px;
	font-weight: bold;
	text-decoration: none;
}
#main1 img{
	max-width: 850px;
}
#main1 p{
	text-align: center;
}
ul.submenu{
	width: 250px;
	background: #000;
	min-height: 95px;
	display: none;
}

ul.submenu li{
	list-style: none;
}
ul.submenu li a{
	color: #fff;
	text-decoration: none;
	display: block;
	border-top: 1px solid #ccc;
	line-height: 40px;
	text-indent: 10px;
}
ul.submenu li a:hover{
	background: orange;
	color: red;
}
#menu_top > ul > li:hover ul.submenu{
	display: block;

}