body{
	
	font-size: 18px;
	width: 1000px;
	margin: 0px auto;
}
#menu_top{
	background: #141414;
	height: 40px;


}
#banner{
	
	height: auto;
	width: 1000px;

}
#main #left {
	width: 600px;
	float: left;
	min-height: 400px;
}
#main #right {
	width: 400px;
	min-height: 400px;
	float: left;
}

#footer{
	background: #000;
	width: 1000px;
	text-align: center;
	height: 60px;
	color: #FFF;
	clear: left;
	line-height: 60px;
}
#menu_top ul {
	margin: 0px;
	padding: 0px; 

}
#menu_top > ul > li{
	list-style: none;
	float: left;
	
}

#menu_top > ul > li > a {
	text-decoration: none;
	display: block;
	height: 40px;
	line-height: 40px;
	color: #FFF;
	padding:0px 40px 0px 40px;
	border-right: 1px solid #ccc; 
}
#menu_top > ul > li > a:hover {
	background: orange;
	color: red;
}
#menu_top ul li a.active{
	background: blue;
}

#banner img {
	background: 1000px;
}

#main #left ul {
	margin: 0px;
	padding: 0px;
	 
}

#main #left ul li{
	list-style: none;
	clear: left;
	border-bottom: 2px solid #ccc;
}
#main #left ul li h2{
	font-size: 18px;
}
#main #left ul li br{
	font-size: 25px;
}
#main #left ul li img {
	margin-top: 20px;
}
#main #right .menu_right ul{
	margin: -15px 0px 0px 0px;
	padding: 0px;
	border: 1px solid #ccc;
}
#main #right .menu_right ul li{
	list-style: none;

}
#main #right .menu_right img{
	padding-top: 30px;
}
#main #right .menu_right ul li a {
	display: block;
	text-decoration: none;
	line-height: 33px;
	border-bottom: 1px solid #ccc;
	color: #878787;

}
#main #right .menu_right ul li a:hover {
	color: orange;
}

#main #right .menu_right h3{
	height: 35px;
	margin-top: 0px;
	font-size: 18px;
	line-height: 40px;
	color: #000;
	text-align: center;
}
ul.submenu{
	width: 250px;
	background: #000;
	min-height: 95px;
	display: none;
}

ul.submenu li{
	list-style: none;
}
ul.submenu li a{
	color: #fff;
	text-decoration: none;
	display: block;
	border-top: 1px solid #ccc;
	line-height: 40px;
	text-indent: 10px;
}
ul.submenu li a:hover{
	background: orange;
	color: red;
}
#menu_top > ul > li:hover ul.submenu{
	display: block;

}
